

.title{

    text-align: center;
    font-size: 2rem;
    h1{
        color: #7BB4D4;
    }
}

.search-bar{

    display: flex;
    justify-content: center;
    border-bottom: 2px solid #7BB4D4;
    
    
    input{
       
        background: #141619;
        text-align: center;
        padding: 0 1rem 0 1rem;
        width: 35%;
        margin: 0 15rem 0 15rem;
        height: 3rem;
        border-bottom: 2px solid #7BB4D4;
        font-size: 2rem;
        border: none;
        outline: none;
        color: #7BB4D4;
    }


}

.coin-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

.name{
    display: flex;
    justify-content: center;
    align-items: center;


    h1{
        color: #7BB4D4;
        font-size: 2.5rem;
        padding-left: 0;
        margin: 10px;
    }
}


    h2{
        color: #7BB4D4;
        font-size: 1.5rem;
    }

    p{
        color: #7BB4D4;
    }


.crypto-coin{
    background: #162540;
    box-shadow: 10px 5px 5px #162540;
    border: 4px solid #A1C5DC;
    border-radius: 2rem;
    width: 25rem;
    height: 31rem;
    padding: 20px;
    text-align: center;
    margin: 1rem;
    &:hover{
        
        background: #145784;
        // border: 4px solid #162540;
        // box-shadow: 15px 10px 10px #162C45;
        h1{
            color: #162540;
        }
        h2{
            color: #162540;
        }
        p{
            color: #162540;
        }
    }

    p{
        font-size: 1.5rem;
    }
}

.selected-coin{
    background: #173957;
    // border: 4px solid blue;
    width: 40rem;
    height: 40rem;
    position: absolute;
}

}
